@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,700');

/********
 * Global
 */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    line-height: 14pt;
}
@media screen {
    body {
        font-size: 11pt;
        padding-left: 10px;
        padding-right: 10px;
    }
}
a {
    color: inherit;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li:before {
   content: '- ';
}

/********
 * Layout
 */
header, section {
    width: 701px;
    display: block;
    margin: auto;
}
@media screen and (max-width: 720px) {
    header, section {
        width: 100%;
    }
}
header {
    padding-bottom: 120px;
}
@media screen and (max-width: 720px) {
    header {
        padding-bottom: 30px;
    }
}
header div {
    float: left;
}
section.info {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
@media screen and (max-width: 720px) {
    section.info {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media print {
    section.info {
        display: none;
    }
}

/********
 * Header
 */
header .name {
    display: block;
    font-family: 'Merriweather', serif;
    font-size: 32pt;
    line-height: 38pt;
}
@media screen and (max-width: 720px) {
    header .name {
        width: 100%;
        font-size: 27pt;
    }
}
header .position {
    float: right;
    padding-top: 10px;
    font-family: 'Merriweather', serif;
    font-size: 15pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #777777;
}
@media screen and (max-width: 720px) {
    header .position {
        float: none;
    }
}
header .contact {
    float: right;
    margin-left: 20px;
    font-family: 'Merriweather', serif;
    font-size: 9pt;
    line-height: 12pt;
    color: #424242;
}
@media screen and (max-width: 720px) {
    header .contact {
        clear: both;
        float: none;
        margin-left: 0;
        padding-top: 10px;
    }
}
header .contact span, header .contact a {
    display: block;
}

/**********
 * Sections
 */
section {
    clear: both;
}
section .header, section .content {
    float: left;
    margin-bottom: 20px;
}
section .header {
    width: 150px;
}
@media screen and (max-width: 720px) {
    section .header {
        width: 100%;
    }
}
section .header span {
    display: block;
    margin-bottom: 5px;
}
@media screen and (max-width: 720px) {
    section .header {
        margin-bottom: 0;
    }
}
section .header .title {
   text-transform: uppercase;
}
section .header .position {
    font-weight: bold;
}
section .content {
    width: 545px;
    padding-left: 5px;
}
@media screen and (max-width: 720px) {
    section {
        padding-top: 20px;
    }
    section .content {
        width: 100% ;
        padding-left: 0;
    }
}
