@font-face {
    font-family: 'Open Sans';
    src: url(Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    src: url(Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Merriweather';
    src: url(Merriweather/Merriweather-Regular.ttf);
}
